
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Mixins
@mixin border-left($color) {
  border-left: 3px solid $color;
}

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.wrapper {
  position: relative;

  h1 {
    text-align: center;
  }
}

#btn-new-task {
  position: absolute;
  right: 0;
}

.filters {
  text-align: center;
  padding: 10px;
}

.task-list {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.item {
  display: flex;

  &:hover .edit-task {
    visibility: visible;
  }

  input[type="checkbox"] {
    margin: 10px;
  }

  .details {
    flex: 1;
    padding: 5px 10px;

    p {
      display: inline-block;
      margin: 0 0 0 5px;
    }

    .relationships {
      margin-top: 5px;
    }
  }

  .details-danger {
    @include border-left($danger);
  }

  .details-warning {
    @include border-left($warning);
  }

  .details-success {
    @include border-left($success);
  }

  .status,
  .edit-task {
    padding: 5px 0;
  }

  .status {
    margin-right: 10px;
    text-transform: uppercase;

    .in-progress {
      color: $danger;
    }

    .done {
      color: $warning;
    }

    .completed {
      color: $success;
    }
  }

  .edit-task {
    visibility: hidden;
  }
}

[v-cloak] {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
  }

  li:last-child {
    border-bottom: 0;
  }
}
